*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
.container{
    background: black;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px 0;
}
header .logo{
    width: 40px;
}
ul li{
    display: inline-block
}
header ul a{
    padding: 30px;
    color: #fff;
    margin: 0 10px;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
.content .text{
    width: 40%;
    color: white;
}
.content .text h1{
    font-size: 40px;
    text-transform: uppercase;  
}
.content .text p{
    font-size: 18px;
    margin: 20px 0;
}
.content .text a{
    background: #fff;
    color: #000;
    padding: 8px 15px;
    border-radius: 20px;
}
.content .image{
    width: 30%;
}
.content .image img{
    width: 180px;
}
.icons{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.icons img{
    width: 40px;
    transition: 0.5s;
    cursor: pointer;
}
.icons img:hover{
    transform: scale(1.2);
}